.food-display {
  margin: 30px 0;
}

.food-display h2 {
  color: #2c3e50;
  font-size: 32px;
  margin-bottom: 30px;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}
